<template>
  <div class="error404-wrapper">
      <div class="error404-container">
        <h1>Страница не существует</h1>
        <p>Данной страницы не существует, она удалена или перемещена.</p>
      </div>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss">
    .error404-wrapper{
        margin: 0;
        padding-top: 35vh;
        width: 100%;
        height: 100vh;

        .error404-container{
            text-align: center;
        }
    }
</style>