<template>
    <div class="login-wrapper">
        <b-container fluid>
           <b-row align-h="center"> 
               <b-col col md="4" lg="3" sm="5" >
                    <div class="login-container">
                        <h2>Sign Up</h2>
                        <b-row>
                            <b-col sm="12">
                                    <label for="input-live">Логин</label>
                                    <b-form-input 
                                        id="input-live" 
                                        size="lg"
                                        type="text">
                                    </b-form-input>
                            </b-col>
                            <b-col sm="12" class="mt-4">
                                    <label for="input-live">Пароль</label>
                                    <b-form-input 
                                        id="input-live" 
                                        size="lg"
                                        type="password">
                                    </b-form-input>
                            </b-col>
                        </b-row>

                        <b-row  class="mt-4">
                            <b-col cols="2">
                                <b-button variant="warning" size="lg">Вход</b-button>   
                            </b-col>
                            <b-col cols="5" class="px-4">
                                <b-button variant="success" size="lg" @click="Login">Get-net</b-button>  
                            </b-col>
                        </b-row>
                    </div>
               </b-col>
           </b-row>
        </b-container>
    </div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
    name: "Login",
    data(){
        return {
            LoginForm: {
                
            }
        }
    },
    methods: {
        ...mapActions({
            LoginKYC: "login"
        }),
        Login(){
            this.LoginKYC();
        }
    }
}

</script>

<style lang="scss">
    .login-wrapper {
        margin: 0;
        padding-top: 25vh;
        width: 100%;

        .login-container{
            background-color: rgb(255,255,255);
            padding: 5%;
            border-radius: 1%;
            box-shadow: 0px 0px 3px 0px rgba(212, 212, 212, 0.9);

            h2{
                text-align: center;
            }

        }
    }

</style>