<template>
    <div class="scoring-wrapper">
        <navbar_scoring/>
        <router-view/>  
    </div>
</template>

<script>

import navbar_scoring from '@/components/scoring_components/navbar_scoring.vue'

export default {
    nama: "Scoring",
    components: {
        navbar_scoring: navbar_scoring,
    }
}
</script>

<style lang="scss">
    .scoring-wrapper{
        padding: 1%;
        padding-top: 110px;
        display: flex;     
        justify-content: space-around;

    }
    
</style>