<template>
  <div class="scoringForm-wrapper">
    <div class="scoringForm-container">
      <div class="scoringForm-container_header">
        <h2>Заявка на получение Скоринга МФО V.2.</h2>
      </div>
      <div class="scoringForm-container_form">
      <!-- Personal Passport-->
      <h4>Паспортные данные</h4>
      <b-row class="mt-3 px-2">
        <b-col xl="3"  lg="6" md="6" sm="12">
          <label class="MyLabel" for="input-NumberPassport">Номер паспорта</label>
          <b-form-input
            id="input-NumberPassport"
            v-model="$v.ScoringMFO_V2.IdReq.idNum.$model"
            :state="validateState('IdReq','idNum')"
            aria-describedby="input-NumberPassport-feedback"
            placeholder="Номер паспорта"
            trim
          >
          </b-form-input>
          <b-form-invalid-feedback id="input-NumberPassport-feedback">
            Введите 6 цифр
          </b-form-invalid-feedback>
        </b-col>

        <b-col  xl="3" lg="6"  md="6" sm="12">
          <label class="MyLabel" for="input-seriesNumber">Серия паспорта</label>
          <b-form-input
            id="input-seriesNumber"
            v-model="$v.ScoringMFO_V2.IdReq.seriesNumber.$model"
            :state="validateState('IdReq','seriesNumber')"
            aria-describedby="input-seriesNumber-feedback"
            placeholder="Серия паспорта"
            trim
          >
          </b-form-input>
          <b-form-invalid-feedback id="input-seriesNumber-feedback">
            Введите 4 цифры
          </b-form-invalid-feedback>
        </b-col>

        <b-col xl="2" lg="4" md="2" sm="6" >
          <label class="MyLabel" for="input-Type">Type</label>
          <b-form-input
            id="input-Type"
            v-model="$v.ScoringMFO_V2.IdReq.idType.$model"
            :state="validateState('IdReq','idType')"
            aria-describedby="input-Type-feedback"
            placeholder="Type"
            trim
          >
          </b-form-input>
          <b-form-invalid-feedback id="input-Type-feedback">
            Пустое поле
          </b-form-invalid-feedback>
        </b-col>

        <b-col xl="2" lg="4" md="2" sm="6">
          <label class="MyLabel" for="input-Date">Дата выдачи</label>
          <b-form-input 
            id="input-Date" 
            v-model="$v.ScoringMFO_V2.IdReq.issueDate.$model" 
            :state="validateState('IdReq','issueDate')" 
            aria-describedby="input-Date-feedback"
            type="date"> 
          </b-form-input>
          <b-form-invalid-feedback id="input-Date-feedback">
            Пустое поле
          </b-form-invalid-feedback>
        </b-col>
      </b-row>

      <b-row class="px-2 mt-3">
        <b-col xl="3" lg="5 " md="6" sm="12">
          <label class="MyLabel" for="input-issueCountry">Страна</label>
          <b-form-input
            id="input-issueCountry"
            v-model="$v.ScoringMFO_V2.IdReq.issueCountry.$model"
            :state="validateState('IdReq','issueCountry')" 
            aria-describedby="input-issueCountry-feedback"
            placeholder="Страна"
            trim
          >
          </b-form-input>
          <b-form-invalid-feedback id="input-issueCountry-feedback">
            Пустое поле
          </b-form-invalid-feedback>
        </b-col>

        <b-col xl="5" lg="7" md="12" sm="12">
          <label class="MyLabel" for="input-issueAuthority">Паспорт выдан</label>
          <b-form-input
            id="input-issueAuthority"
            v-model="$v.ScoringMFO_V2.IdReq.issueAuthority.$model"
            :state="validateState('IdReq','issueAuthority')" 
            aria-describedby="input-live-help input-issueAuthority-feedback"
            placeholder="Паспорт выдан"
            trim
          >
          </b-form-input>
          <b-form-invalid-feedback id="input-issueAuthority-feedback">
            Пустое поле
          </b-form-invalid-feedback>
        </b-col>
      </b-row>
      <hr />
      <!-- PersonalReq-->
      <h4>Информация о заемщике</h4>
      <b-row class="mt-3 px-2">
        <b-col xl="4" lg="4" md="6" sm="12">
          <label class="MyLabel" for="input-firstName">Имя</label>
          <b-form-input
            id="input-firstName"
            v-model="$v.ScoringMFO_V2.PersonReq.firstName.$model"
            :state="validateState('PersonReq','firstName')"
            aria-describedby="input-firstName-feedback"
            placeholder="Имя"
            trim
          >
          </b-form-input>
          <b-form-invalid-feedback id="input-firstName-feedback">
            Пустое поле
          </b-form-invalid-feedback>
        </b-col>
        <b-col xl="4" lg="4" md="6" sm="12">
          <label class="MyLabel" for="input-lastName">Фамилия</label>
          <b-form-input
            id="input-lastName"
            v-model="$v.ScoringMFO_V2.PersonReq.lastName.$model"
            :state="validateState('PersonReq','lastName')"
            aria-describedby="input-lastName-feedback"
            placeholder="Фамилия"
            trim
          >
          </b-form-input>
          <b-form-invalid-feedback id="input-lastName-feedback">
            Пустое поле
          </b-form-invalid-feedback>
        </b-col>
        <b-col xl="4" lg="4" md="6" sm="12">
          <label class="MyLabel" for="input-paternal">Отчество</label>
          <b-form-input
            id="input-paternal"
            v-model="$v.ScoringMFO_V2.PersonReq.paternal.$model"
            :state="validateState('PersonReq','paternal')"
            aria-describedby="input-paternal-feedback"
            placeholder="Отчество"
            trim
          >
          </b-form-input>
          <b-form-invalid-feedback id="input-paternal-feedback">
            Пустое поле
          </b-form-invalid-feedback>
        </b-col>
      </b-row>
      <b-row class="px-2 mt-3">
        <b-col xl="3" lg="3" md="6" sm="6">
          <label class="MyLabel" for="input-gender">Пол</label>
          <b-form-groupe>
            <b-form-radio-group
              id="input-gender"
              class="ScoringForm-container_form-radio"
              v-model="$v.ScoringMFO_V2.PersonReq.gender.$model"
              :state="validateState('PersonReq','gender')"
              :options="options"
              aria-describedby="input-gender-feedback"
              plain
            >
            </b-form-radio-group>
            <b-form-invalid-feedback id="input-gender-feedback">
              Пустое поле
            </b-form-invalid-feedback>
          </b-form-groupe>
        </b-col>
        <b-col xl="3" lg="4" md="6" sm="6">
          <label class="MyLabel" for="input-dateofBirth">Дата рождения</label>
          <b-form-input 
            id="input-dateofBirth" 
            v-model="$v.ScoringMFO_V2.PersonReq.date.$model" 
            :state="validateState('PersonReq','date')"
            aria-describedby="input-dateofBirth-feedback"
            type="date"> 
          </b-form-input>
          <b-form-invalid-feedback id="input-dateofBirth-feedback">
              Пустое поле
          </b-form-invalid-feedback>
        </b-col>
        <b-col xl="3" lg="4" md="6" sm="6">
          <label class="MyLabel" for="input-placeOfBirth">Место рождения</label>
          <b-form-input
            id="input-placeOfBirth"
            v-model="$v.ScoringMFO_V2.PersonReq.placeOfBirth.$model"
            :state="validateState('PersonReq','placeOfBirth')"
            aria-describedby="input-placeOfBirth-feedback"
            placeholder="Место рождения"
            trim
          >
          </b-form-input>
          <b-form-invalid-feedback id="input-placeOfBirth-feedback">
              Пустое поле
          </b-form-invalid-feedback>

        </b-col>
      </b-row>
      <hr />
      <!-- Address Req Propiska-->
      <h4>Адресс Прописки</h4>
      <b-row class="mt-3 px-2">
        <b-col xl="6" lg="6" md="6" sm="6">
          <label class="MyLabel" for="input-City">Город</label>
          <b-form-input
            id="input-City"
            v-model="$v.ScoringMFO_V2.AddressReq.city.$model"
            :state="validateState('AddressReq','city')"
            aria-describedby="input-City-feedback"
            placeholder="Введите свой город"
            trim
          >
          </b-form-input>
          <b-form-invalid-feedback id="input-City-feedback">
              Пустое поле
          </b-form-invalid-feedback>
        </b-col>
        <b-col col xl="6" lg="6" md="6" sm="6">
          <label class="MyLabel" for="input-street">Улица</label>
          <b-form-input
            id="input-street"
            v-model="$v.ScoringMFO_V2.AddressReq.street.$model"
            :state="validateState('AddressReq','street')"
            aria-describedby="input-street-feedback"
            placeholder="Введите свою улицу"
            trim
          >
          </b-form-input>
          <b-form-invalid-feedback id="input-street-feedback">
              Пустое поле
          </b-form-invalid-feedback>
        </b-col>
      </b-row>

      <b-row class="mt-3 px-2">
        <b-col xl="4" lg="4" md="4" sm="6">
          <label class="MyLabel" for="input-houseNumber">Номер дома</label>
          <b-form-input
            id="input-houseNumber"
            v-model="$v.ScoringMFO_V2.AddressReq.houseNumber.$model"
            :state="validateState('AddressReq','houseNumber')"
            aria-describedby="input-houseNumber-feedback"
            placeholder="Введите номер дома"
            trim
          >
          </b-form-input>
          <b-form-invalid-feedback id="input-houseNumber-feedback">
              Пустое поле
          </b-form-invalid-feedback>
        </b-col>
        <b-col xl="4" lg="4" md="4" sm="6">
          <label class="MyLabel" for="input-apartment">Номер квартиры</label>
          <b-form-input
            id="input-apartment"
            v-model="$v.ScoringMFO_V2.AddressReq.apartment.$model"
            :state="validateState('AddressReq','apartment')"
            aria-describedby="input-apartment-feedback"
            placeholder="Введите номер квартиры"
            trim
          >
          </b-form-input>
          <b-form-invalid-feedback id="input-apartment-feedback">
              Пустое поле
          </b-form-invalid-feedback>
        </b-col>
        <b-col xl="4" lg="4" md="4" sm="6">
          <label class="MyLabel" for="input-postal">Почтовый индекс</label>
          <b-form-input
            id="input-postal"
            v-model="$v.ScoringMFO_V2.AddressReq.postal.$model"
            :state="validateState('AddressReq','postal')"
            aria-describedby="input-postal-feedback"
            placeholder="Введите почтовый индекс"
            trim
          >
          </b-form-input>
          <b-form-invalid-feedback id="input-postal-feedback">
            Введите 6 цифр
          </b-form-invalid-feedback>
        </b-col>
      </b-row>
      <hr />
      <!-- Address Req Fact-->
      <h4>Фактический Адресс</h4>
        <b-row class="mt-3 px-2">
          <b-col col xl="6" lg="6" md="12" sm="12">
            <label class="MyLabel" for="input-CityFact">Город</label>
            <b-form-input
              id="input-CityFact"
              v-model="$v.ScoringMFO_V2.AddressReqFact.city.$model"
              :state="validateState('AddressReqFact','city')"
              aria-describedby="input-CityFact-feedback"
              placeholder="Введите свой город"
              trim
            >
            </b-form-input>
            <b-form-invalid-feedback id="input-CityFact-feedback">
                Пустое поле
            </b-form-invalid-feedback>
          </b-col>
          <b-col col xl="6" lg="6" md="12" sm="12">
            <label class="MyLabel" for="input-streetFact">Улица</label>
            <b-form-input
              id="input-streetFact"
              v-model="$v.ScoringMFO_V2.AddressReqFact.street.$model"
              :state="validateState('AddressReqFact','street')"
              aria-describedby="input-streetFact-feedback"
              placeholder="Введите свою улицу"
              trim
            >
            </b-form-input>
            <b-form-invalid-feedback id="input-streetFact-feedback">
                Пустое поле
            </b-form-invalid-feedback>
          </b-col>
        </b-row>

        <b-row class="mt-3 px-2">
          <b-col col xl="4" lg="4" md="6" sm="6">
            <label class="MyLabel" for="input-houseNumberFact">Номер дома</label>
            <b-form-input
              id="input-houseNumber"
              v-model="$v.ScoringMFO_V2.AddressReqFact.houseNumber.$model"
              :state="validateState('AddressReqFact','houseNumber')"
              aria-describedby="input-houseNumberFact-feedback"
              placeholder="Введите номер дома"
              trim
            >
            </b-form-input>
            <b-form-invalid-feedback id="input-houseNumberFact-feedback">
                Пустое поле
            </b-form-invalid-feedback>
          </b-col>
          <b-col xl="4" lg="4" md="4" sm="6">
            <label class="MyLabel" for="input-apartmentFact">Номер квартиры</label>
            <b-form-input
              id="input-apartmentFact"
              v-model="$v.ScoringMFO_V2.AddressReqFact.apartment.$model"
              :state="validateState('AddressReqFact','apartment')"
              aria-describedby="input-apartmentFact-feedback"
              placeholder="Введите номер квартиры"
              trim
            >
            </b-form-input>
            <b-form-invalid-feedback id="input-apartmentFact-feedback">
                Пустое поле
            </b-form-invalid-feedback>
          </b-col>
          <b-col xl="4" lg="4" md="4" sm="6">
            <label class="MyLabel" for="input-postalFact">Почтовый индекс</label>
            <b-form-input
              id="input-postalFact"
              v-model="$v.ScoringMFO_V2.AddressReqFact.postal.$model"
              :state="validateState('AddressReqFact','postal')"
              aria-describedby="input-postalFact-feedback"
              placeholder="Введите почтовый индекс"
              trim
            >
            </b-form-input>
            <b-form-invalid-feedback id="input-postalFact-feedback">
              Введите 6 цифр
            </b-form-invalid-feedback>
          </b-col>
        </b-row>
      <hr />

      <!-- InquiryReq -->

      <h4>Сводка </h4>
      <b-row class="mt-3 px-2">
        <b-col cols="2">
          <label class="MyLabel" for="input-live">consent Date</label>
          <b-form-input id="input-live" v-model="ScoringMFO_V2.InquiryReq.ConsentReq.consentDate"  type="date"> </b-form-input>
        </b-col>

        <b-col cols="3">
          <label class="MyLabel" for="input-live">consent Expire Date</label>
          <b-form-input id="input-live" v-model="ScoringMFO_V2.InquiryReq.ConsentReq.consentExpireDate"  type="date"> </b-form-input>
        </b-col>

        <b-col lg="2" md="2" sm="4">
          <label class="MyLabel" for="input-consent_purpose">consent Purpose</label>
          <b-form-input
            id="input-consent_purpose"
            v-model="ScoringMFO_V2.InquiryReq.ConsentReq.consentPurpose"
            aria-describedby="input-live-help input-live-feedback"
            placeholder="consent Purpose"
            trim
          >
        </b-form-input>
        </b-col>
        <b-col lg="2" md="3" sm="4" >
          <b-form-checkbox
              id="input-liability"
              v-model="ScoringMFO_V2.InquiryReq.ConsentReq.liability"
              name="checkbox-1"
              value="accepted"
              unchecked-value="not_accepted"
            >
              <label class="MyLabel" for="input-liability">liability</label>
          </b-form-checkbox>
        </b-col>
        <b-col lg="2" md="3" sm="4" >
            <b-form-checkbox
              id="input-consent_flag"
              v-model="ScoringMFO_V2.InquiryReq.ConsentReq.consentFlag"
              name="input-consent_flag"
              value="accepted"
              unchecked-value="not_accepted"
            >
              <label class="MyLabel" for="input-consent_flag">consent Flag</label>
            </b-form-checkbox>
        </b-col>
      </b-row>
      <b-row class="mt-3 px-2">
        <b-col lg="4" md="4" sm="4">
          <label class="MyLabel" for="input-consent_purpose">other Consent Purpose</label>
          <b-form-input
            id="input-consent_purpose"
            v-model="ScoringMFO_V2.InquiryReq.ConsentReq.otherConsentPurpose" 
            aria-describedby="input-live-help input-live-feedback"
            placeholder="other Consent Purpose"
            trim
          >
          </b-form-input>
        </b-col>

        <b-col lg="4" md="4" sm="4">
          <label class="MyLabel" for="input-live">report User</label>
          <b-form-input
            id="input-live"
            v-model="ScoringMFO_V2.InquiryReq.ConsentReq.reportUser"
            aria-describedby="input-live-help input-live-feedback"
            placeholder="report User"
            trim
          >
          </b-form-input>
        </b-col>
  
      </b-row>
      <b-row class="mt-3 px-2">
        <b-col lg="3" md="3" sm="3">
          <label class="MyLabel" for="input-inq_purpose">inqPurpose</label>
          <b-form-input
            id="nput-inq_purpose"
            v-model="ScoringMFO_V2.InquiryReq.inqPurpose"
            aria-describedby="nput-inq_purpose-feedback"
            placeholder="inqPurpose"
            trim
          >
          </b-form-input>
        </b-col>

        <b-col lg="3" md="3" sm="3">
          <label class="MyLabel" for="input-inqAmount">inqAmount</label>
          <b-form-input
            id="input-inqAmount"
            v-model="ScoringMFO_V2.InquiryReq.inqAmount"
            aria-describedby="input-live-help input-live-feedback"
            placeholder="inqAmount"
            trim
          >
          </b-form-input>
        </b-col>

        <b-col lg="2" md="2" sm="2">
          <label class="MyLabel" for="input-currencyCode">currencyCode</label>
          <b-form-input
            id="input-currencyCode"
            v-model="ScoringMFO_V2.InquiryReq.currencyCode"
            aria-describedby="input-currencyCode-feedback"
            placeholder="currencyCode"
            trim
          >
          </b-form-input>
        </b-col>

      </b-row>
      <hr />
      <!-- Buttions -->
      <b-row class="mt-4">
        <b-col lg="3" md="4" sm="7" class="pb-2">
          <b-button @click="createReports" class="btn-success" size="lg">Отправить заявку</b-button>
        </b-col>
      </b-row>
    </div>
  </div>
  <div class="scoringForm-nav">
      <div id="scoringForm-nav_item1" class="scoringForm-nav_item" :class="{itemErr: {itemError1}}" @click="scrollMove(1)"></div>
      <div id="scoringForm-nav_item2" class="scoringForm-nav_item" :class="{itemErr: {itemError2}}" @click="scrollMove(2)"></div>
      <div id="scoringForm-nav_item3" class="scoringForm-nav_item" :class="{itemErr: {itemError3}}" @click="scrollMove(3)"></div>
  </div>

  <b-alert class="scoringForm_alert" v-model="showAlert" variant="success" dismissible>
      Заявка отправлена!
  </b-alert>

</div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

import { required, numeric,minLength, maxLength, } from "vuelidate/lib/validators";
import { validationMixin } from "vuelidate";

export default {
  name: "ScoringForm",
  mixins: [validationMixin],
  data: () => {
    return {
      ScoringMFO_V2: {
        IdReq: {
          idNum: "",
          idType: 4,
          seriesNumber: "",
          issueCountry: "",
          issueDate: "",
          issueAuthority: "",
        },
        AddressReq: {
          houseNumber: "",
          street: "",
          apartment: "",
          city: "",
          postal: "",
          addressType: 1,
        },
        AddressReqFact: {
          houseNumber: "",
          street: "",
          apartment: "",
          city: "",
          postal: "",
          addressType: 2,
        },
        PersonReq: {
          lastName: "",
          firstName: "",
          paternal: "",
          gender: 0,
          date: "",
          placeOfBirth: "",
        },
        InquiryReq: {
          ConsentReq: {
            consentFlag: false,
            consentDate: "",
            consentExpireDate: "",
            consentPurpose: "",
            otherConsentPurpose: "",
            reportUser: "",
            liability: false,
          },
          inqPurpose: "",
          inqAmount: "",
          currencyCode: "",
        },
      },
      options: [
        { text: "M", value: 1 },
        { text: "V", value: 0 },
      ],
      showAlert: false
    };
  },
  validations: {
    ScoringMFO_V2: {
      IdReq: {
        idNum: {
          required,
          numeric,
          minLength: minLength(6),
          maxLength: maxLength(6),
        },
        idType: { required },
        seriesNumber: {
          required,
          numeric,
          minLength: minLength(4),
          maxLength: maxLength(4),
        },
        issueCountry: { required },
        issueDate: { required },
        issueAuthority: { required },
      },
      PersonReq: {
        lastName: { required },
        firstName: { required },
        paternal: { required },
        gender: { required },
        date: { required },
        placeOfBirth: { required },
      },
      AddressReq: {
        houseNumber: { required },
        street: { required },
        apartment: { required },
        city: { required },
        postal: {
          required,
          numeric,
          minLength: minLength(6),
          maxLength: maxLength(6),
        },
        addressType: { required },
      },
      AddressReqFact: {
        houseNumber: { required },
        street: { required },
        apartment: { required },
        city: { required },
        postal: {
          required,
          numeric,
          minLength: minLength(6),
          maxLength: maxLength(6),
        },
        addressType: { required },
      },
    },
  },
  computed: {
    ...mapGetters({
      ReqStatus: "ReqStatus",
    }),
    itemError1(){
      return (this.$v.ScoringMFO_V2.PersonReq.$error && this.$v.ScoringMFO_V2.IdReq.$error)
    },
    itemError2(){
      return !(this.$v.ScoringMFO_V2.AddressReq.$error && this.$v.ScoringMFO_V2.AddressReqFact.$error)
    },
    itemError3(){
      return !(this.$v.ScoringMFO_V2.PersonReq.$error)
    }
  },
  methods: {
    ...mapActions({
      reqScoring: "reqScoring",
    }),
    validateState(obj, property) {
      if (obj != null) {
        const { $dirty, $error } = this.$v.ScoringMFO_V2[obj][property];
        return $dirty ? !$error : null;
      } else {
        const { $dirty, $error } = this.$v.ScoringMFO_V2[property];
        return $dirty ? !$error : null;
      }
    },
    createReports() {
      this.$v.$touch();
      console.log(this.$v.ScoringMFO_V2.AddressReq.$error)
      if (!this.$v.$invalid) {
        this.reqScoring(this.ScoringMFO_V2);
        this.showAlert = true;
      }
    },
    scrollMove(id){
      this.$v.$touch()
      if(id == 1){
        window.scrollTo(0,0)
      }
      if(id == 2){
        window.scrollTo(0,400)
      }
      if(id == 3){
        window.scrollTo(0,1300)
      }
    }
  },
};
</script>

<style lang="scss">

.scoringForm-wrapper{
  flex: 5;
  display: flex;
  margin-left: 2%;
  .scoringForm-container {
  //margin-top: 2%;  ??

    background-color: rgb(255, 255, 255);
    min-height: 1500px;
    width: 90%;
    
    .scoringForm-container_header {
      height: 80px;
      border-bottom: 2px solid rgb(244, 247, 249);
      padding: 1.5%;

      h2 {
        font-weight: bold;
      }
    }

    .scoringForm-container_form {
      padding: 2%;

      .MyLabel {
        color: rgb(168, 168, 168);
        font-size: 1.2rem;
      }

      .btn-success {
        background-color: #ffffff;
        border-color: rgba(38, 208, 124);
        color: rgba(38, 208, 124);
        font-weight: 600;
        font-size: 1.2rem;
      }

      .btn-success:hover {
        transition: 0.6s;
        background-color: rgba(38, 208, 124);
        color: #ffffff;
      }
    }
  }

  .scoringForm-nav{
    position: fixed !important;
    margin-top: 30vh;
    margin-left: 71%;
    padding: 1%;

      .scoringForm-nav_item{
        cursor: pointer;
        margin-top: 4px;
        height: 18px;
        width: 18px;
        border: 1px solid rgb(201, 201, 201);
        background-color: #ffffff;
        opacity: 0.7;
      }

      .itemErr{
        background-color: #24b938;
        background-color: #ffffff;
      }
  }

  .scoringForm_alert{
    position: fixed;
    margin-top: 80vh;
    width: 21%;
    margin-left: 50%;
  }

}

@media (max-width: 960px){
  .scoringForm-nav{
    margin-left: 88%;
  }
}

@media (max-width: 600px){
  .MyLabel {
    font-size: 0.5rem;
  }
}

</style>    