<template>
    <div class="scoringHistory-container">
        <div class="scoringHistory-container_header">
            <h2>История операций</h2>
        </div>
        <div class="scoringHistory-container_history">

            <b-row class="scoringHistory-container_setting">
                <b-col xl="2" col lg="3" md="3">
                    <b-dropdown  id="dropdown-offset" offset="100" text="Сортировать" no-caret>
                        <b-dropdown-item>по дате</b-dropdown-item>
                        <b-dropdown-item>по номеру</b-dropdown-item>
                    </b-dropdown>
                </b-col>  
                <b-col xl="4" col lg="4" md="4">
                    <b-form-group label="Бал:">
                    <b-form-checkbox-group
                        id="checkbox-group-2"
                        v-model="selected"
                        :aria-describedby="ariaDescribedby"
                        name="flavour-2"
                        inline
                    >
                        <b-form-checkbox value="orange">Низкий</b-form-checkbox>
                        <b-form-checkbox value="apple">Высокий</b-form-checkbox>
                    </b-form-checkbox-group>
                </b-form-group>
                </b-col>
            </b-row>

            <div class="scoringHistory-container_list">
                <div
                    v-for="(report, key) in reports"
                    :key="key"
                >
                <ReportsComponent   
                    :productsScore ="report.productsScore"
                />
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import reports_cart from '@/components/scoring_components/reports_cart.vue'
import { mapGetters, mapActions } from 'vuex'

export default {
    name: "ScoringHistory",
    data: () => {
        return {
            
        };
    },
    components: {
        ReportsComponent: reports_cart,
    },
    computed: {
        ...mapGetters({
            reports: "Reports"
        })
    },
    methods: {
        ...mapActions({
            getReports: "getReports"
        })
    },
    mounted(){
        this.getReports();
    }
}
</script>

<style lang="scss">
    .scoringHistory-container {
        flex: 5;
        margin-left: 2%;
        margin-right: 4%;
        background-color: rgb(255, 255, 255);
        min-height: 900px;

        .scoringHistory-container_header {
            height: 80px;
            border-bottom: 2px solid rgb(244, 247, 249);
            padding: 1.5%;

            h2 {
                font-weight: bold;
            }
        }

        .scoringHistory-container_history {
            padding: 1%;

            .scoringHistory-container_setting {
                padding-left: 1%;
                padding-top: 1%;

                .scoringHistory-container_checkbox{
                    margin-left: 4%;
                }
            }   

            .scoringHistory-container_list {
                overflow: auto;
                margin-top: 3%;
                background-color: rgb(244, 247, 249);
                max-height: 700px;
                border: 1px solid rgb(244, 247, 249);
            }
        }  

    }
    
</style>