<template>
    <b-navbar toggleable="lg" variant="faded" type="light" class="navbar-container">
        <b-navbar-nav>
            <b-navbar-brand href="#">NBKI</b-navbar-brand>    
            <b-collapse is-nav>
                <b-nav-item-dropdown text="Scoring" right>
                    <b-dropdown-item to="/scoring/mfo_v2"> Скоринг МФО V.2</b-dropdown-item>
                    <b-dropdown-item to="/scoring/scoring_history"> История операций</b-dropdown-item>
                </b-nav-item-dropdown>
            </b-collapse>
        </b-navbar-nav>
            <div class="navbar-container_profile">
                <div class="navbar-container_name">
                    <p>Артем Суходоев</p>
                    <small>Санитар</small>
                </div>  
                <div class="navbar-container_logout">
                    <router-link to="/logout">
                        <i class="far fa-user-circle"></i>
                    </router-link>
                </div>  
            </div>
    </b-navbar>
</template>

<script>
    export default {
        name: "Navbar",
        date(){
            return{
               
            }
        },
        methods: {

        }
    }
        
</script>

<style lang="scss">
    .navbar-container{
        width: 100%;
        position: fixed;
        height: 70px;
        padding-left: 9%;
        padding-right: 15%;
        background-color: rgb(255, 255, 255);
        cursor: pointer;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        z-index: 1000;

        .navbar-container_profile{
            width: 300px;
            padding: 1%;
            position: absolute;
            height: 70px;
            border-left: 1px solid silver;
            display: flex;
            line-height: 11px;
            margin-left: 72%;
            display: flex;

            small{
                color: rgb(201, 195, 195);
            }

            .navbar-container_logout{
                padding: 2%;
                margin-left: 4%;

                .fa-user-circle{
                    font-size: 2rem;
                    color: rgb(216, 218, 216);
                }

                .fa-user-circle:hover{
                    transition: 0.3s;
                    color: rgb(117, 117, 117);
                }
            }
            
        }
    }
</style>