<template>
  <div class="scoringNav">
    <b-nav>
      <b-nav-item to="/scoring/mfo_v2" class="scoringNav_item" :scoringNav_item_active='$route.name =="/scoring/scoring_history"' >
        Скоринг МФО V.2.
      </b-nav-item>
      <b-nav-item to="/scoring/scoring_history" class="scoringNav_item scoringNav_item_active" :scoringNav_item_active='$route.name =="/scoring/mfo_v2"'>
        История операций
      </b-nav-item>
    </b-nav>
  </div>
</template>

<script>
    export default {
        name: "navbar_scoring"
    };
</script>

<style lang="scss">
    .scoringNav{  
        flex: 1;
        background-color: rgb(255, 255, 255);
        height: 200px;
        font-size: 1.3rem;
        margin-left: 2%;
        border-radius: 1%;
        line-height: 1rem;
        padding-top: 30px;

        .scoringNav_item .nav-link{
            text-decoration: none;
            color: #000000;
        }

        .scoringNav_item_active{
          color: #cecece !important;
        }
    }

    @media (max-width: 960px){
        .scoringNav{
          display: none;
        }
    }
    
</style>