<template>
    <div class='scoringHistory-container_row'>
        <div class="scoringHistory-container_border" :class="{lowScore: ( productsScore.score < 600 )}"></div>
        <div class="scoringHistory-container_status">
            <h6>Бал:</h6>
            <h3>{{productsScore.score}}</h3>
            <p>{{productsScore.systemDateTime}}</p>
        </div>
        <div class="scoringHistory-container_person">
            <h6>Имя:</h6>
            <h5>{{productsScore.client}}</h5>
        </div>
        <div class="scoringHistory-container_file">
            <div class="scoringHistory-container_type">
                <div>
                    <h6>Тип отчета:</h6>
                    <p>{{productsScore.scoreID}}</p>
                </div>
            </div>
            <div class="scoringHistory-container_doc">
                <img src='@/assets/doc-56-695434.png' class="scoringHistory-container_img">
            </div>
            <div class="scoringHistory-container_btn">
                <i class="far fa-arrow-alt-circle-down scoringHistory-container_icon"></i>
                <i class="far fa-eye scoringHistory-container_icon"></i>
                <i class="fas fa-link scoringHistory-container_icon"></i>
            </div>
        </div>

    </div>
</template> 
<script>
    export default {
        name: "reports_cart",
        props: {
            productsScore: { type: Object, default: () => {} },
        },
    };
</script>

<style lang="scss">
    .scoringHistory-container_row {
        margin-top: 4px;
        display: flex;
        max-height: 110px;
        background-color: rgb(255, 255, 255);
        
        .scoringHistory-container_border {
            height: 110px;
            border: 1px solid rgb(244, 247, 249);
            background-color: rgb(56, 218, 137);
            width: 8px;
        }

        .scoringHistory-container_status {
            border-right: 1px solid rgb(244, 247, 249);
            padding: 1%;
            line-height: 6px;
            flex: 1;

            h6 {    
                color: silver;
                font-size: 0.9rem;
            }
            h3 {
                font-size: 1.5rem;
            }
            p {
                margin-top: 20px;
                font-size: 0.9rem;
                color: silver;
            }
        }

        .scoringHistory-container_person {
            padding: 1%;
            border-right: 1px solid rgb(244, 247, 249);
            flex: 2;
            h6 {
                color: silver;
                font-size: 0.9rem;
            }
        }

        .scoringHistory-container_file {
            flex: 1;
            display: flex;
            padding: 2%;
            .scoringHistory-container_doc{
                .scoringHistory-container_img{
                    height: 60px;
                }
            }
            h6 {
                color: silver;
                font-size: 0.9rem;
            }
            .scoringHistory-container_btn{
                align-items: end;
                display: flex;
                cursor: pointer;
                flex-direction: column;
                flex: 1;
                font-size: 1.3rem;
                color: silver;

                .scoringHistory-container_icon:hover{
                    transition: all 0.2s;
                    color: rgb(56, 196, 231);
                }
            }
           
        }

        .lowScore{
            background-color: rgb(238, 75, 69);
        }
    }
    
</style>